In [3]:
import matplotlib.pyplot as plt
import numpy as np
import sympy as sp
import pandas as pd
import math

In [20]:
def load_file(file_path):
    return pd.read_excel(file_path, header=1, index_col=0)

In [24]:
def sample(df,n=10):
    return df.sample(n = n)

In [16]:
df = pd.read_excel("Glucosa-Project.xlsx", header=1, index_col=0)

In [18]:
df.describe()

            mg/dL
count  135.000000
mean   160.874074
std     29.055898
min    104.000000
25%    139.500000
50%    157.000000
75%    180.500000
max    239.000000

In [21]:
df = load_file("Glucosa-Project.xlsx")

In [22]:
x = sample(df,10)

In [23]:
x

           Fecha  mg/dL      Hora Condición
83.0  2020-09-24  104.0  11:43:00  Desayuno
98.0  2020-11-03  186.0  12:10:00  Desayuno
44.0  2020-08-04  131.0  06:58:00     Ayuno
21.0  2020-07-14  187.0  06:56:00     Ayuno
116.0 2021-02-22  151.0  08:26:00     Ayuno
115.0 2021-02-16  164.0  08:39:00     Ayuno
112.0 2021-01-17  169.0  08:28:00     Ayuno
90.0  2020-10-14  164.0  11:36:00  Desayuno
71.0  2020-09-10  149.0  09:49:00  Desayuno
45.0  2020-08-05  130.0  08:41:00     Ayuno

In [25]:
import argh